# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Large data files
datasets/*.csv
datasets/*.xlsx
datasets/*.json